<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IdentityServer3" version="2.5.4" targetFramework="net452" />
  <package id="Microsoft.Owin" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Diagnostics" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.SelfHost" version="2.0.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Serilog" version="2.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="2.1.0-dev-00034" targetFramework="net452" />
</packages>